:root{
    --Primary: #0062ff;
    --Secondary: #7c49e1;
    --Cards_Buttons: #d900ff;
    --Nav: #ffffff;
    --Hub: #ffb300;
    --HubShadow: #d0d0d0;
    --Bckgr_divs: rgba(98, 98, 98, 0.3);
    --Bckgr_divs2: rgba(0, 0, 0, 0.35);
    --Black: #000000;
    --White: #ffffff;
    --Info: #acacac;
    --HubDark: #ff8f00;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    gap: 40px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}