#galeria .col-lg-4{
    margin: 0 !important;
    padding: 25px;
}

#galeria img{
    width: 100%;
    height: 540px;
    border-radius: 25px;
}

#galeria img:hover{
    border: 2px solid #7165cc;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

h1 {
    font-size: 38px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1.Tittle{
    margin-top: 20px;
    font-size: 38px;
    background-color: rgba(175, 122, 250, 0.3);
    backdrop-filter: blur(5px) !important;
}

/* rgba(98, 98, 98, 0.3) */

div.p_text {
    background-color: rgba(175, 122, 250, 0.3);
    backdrop-filter: blur(5px) !important;
    border-radius: 8px;
    padding: 5px 5px 5px 5px;
    height: 84px;
}

body{
    background: linear-gradient(to bottom, #ffbf00, #7054b3);
}