<link rel="stylesheet" href="../css/styles-templates.css">
<link rel="stylesheet" href="../css/styles-cards.css">
<link rel="stylesheet" href="../css/styles-container-mosaico-4x4.css">

<div class="cards-container">
    <div class="Project_card">
        <img src="../../assets/img/money-boy.jpg" alt="Imagen del Proyecto" class="Project_image">
        <h4 class="Project_name">Nombre del Proyecto</h4>
        <button class="Open_project_button" onclick="window.location.href='../../pages/maintenance.html';">Abrir Proyecto</button>
    </div>

    <div class="Project_card">
        <img src="../../assets/img/money-boy.jpg" alt="Imagen del Proyecto" class="Project_image">
        <h4 class="Project_name">Nombre del Proyecto</h4>
        <button class="Open_project_button" onclick="window.location.href='../../pages/maintenance.html';">Abrir Proyecto</button>
    </div>
    
    <div class="Project_card">
        <img src="../../assets/img/money-boy.jpg" alt="Imagen del Proyecto" class="Project_image">
        <h4 class="Project_name">Nombre del Proyecto</h4>
        <button class="Open_project_button" onclick="window.location.href='../../pages/maintenance.html';">Abrir Proyecto</button>
    </div>
    
    <div class="Project_card">
        <img src="../../assets/img/money-boy.jpg" alt="Imagen del Proyecto" class="Project_image">
        <h4 class="Project_name">Nombre del Proyecto</h4>
        <button class="Open_project_button" onclick="window.location.href='../../pages/maintenance.html';">Abrir Proyecto</button>
    </div>
    
    <div class="Project_card">
        <img src="../../assets/img/money-boy.jpg" alt="Imagen del Proyecto" class="Project_image">
        <h4 class="Project_name">Nombre del Proyecto</h4>
        <button class="Open_project_button" onclick="window.location.href='../../pages/maintenance.html';">Abrir Proyecto</button>
    </div>
    
    <div class="Project_card">
        <img src="../../assets/img/money-boy.jpg" alt="Imagen del Proyecto" class="Project_image">
        <h4 class="Project_name">Nombre del Proyecto</h4>
        <button class="Open_project_button" onclick="window.location.href='../../pages/maintenance.html';">Abrir Proyecto</button>
    </div>
    
    <div class="Project_card">
        <img src="../../assets/img/money-boy.jpg" alt="Imagen del Proyecto" class="Project_image">
        <h4 class="Project_name">Nombre del Proyecto</h4>
        <button class="Open_project_button" onclick="window.location.href='../../pages/maintenance.html';">Abrir Proyecto</button>
    </div>
    
    <div class="Project_card">
        <img src="../../assets/img/money-boy.jpg" alt="Imagen del Proyecto" class="Project_image">
        <h4 class="Project_name">Nombre del Proyecto</h4>
        <button class="Open_project_button" onclick="window.location.href='../../pages/maintenance.html';">Abrir Proyecto</button>
    </div>
</div>


<!-- Compare this snippet from X%20Projects/assets/Templates/project-card-2.html: -->