<link rel="stylesheet" href="../../assets/css/styles-nav.css">
<link rel="stylesheet" href="../css/styles-templates.css">

<body>
    <nav class="nav">
        <ul>
            <li><a href="../X Projects/index.html" id="home">Pagina Principal</a></li>
            <li><a href="../X Projects/pages/proyectos-propios.html" id="proyectos-propios">Proyectos Propios</a></li>
            <li><a href="../X Projects/pages/proyectos-generales.html" id="proyectos-generales">Proyectos Generales</a></li>
            <li><a href="../X Projects/pages/proyectos-universitarios.html" id="proyectos-universitarios">Proyectos Universitarios</a></li>
            <li><a href="../X Projects/pages/contacto.html" id="contacto">Contacto</a></li>
        </ul>
    </nav>
</body>
